<!--Nav-Bar-->
<div>
    <!--Chart-->
    <div>
      <!--Chart Handlebars-->
    <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/>
    <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

    </div>
</div>
