<!--Deleting homepage-->


<!--HomePage-->
<div>
<!--Welcome-->
<div id="welcome-text">Welcome</div>

<div id="welcome-container">

  <!--Expenses Page-->
  <div class="card" style="width: 30rem;">
      <div class="card-body">
          <a class="card-text" href="/expenses">Expenses</a>
      </div>
  </div>

  <!--Chart Page-->
  <div class="card" style="width: 30rem;">
      <div class="card-body">
          <a class="card-text" href="/chart">Chart</a>
      </div>
  </div>
</div>
</div>