<div>
    <!--Login-->
    <div class="form">
        <h1 class="heading">login</h1>
        <div class="form-input">
        <input type="email" placeholder="Email" autocomplete="off" class="email" required>
        <input type="password" placeholder="Password" autocomplete="off" class="password" required>
        </div>
        <button class="submit-btn">Log In</button>
    </div>

    <!--Sign Up-->
    <div class="form" class="register-form">
        <h1 class="heading">Register</h1>
        <div class="form-input">
        <input type="text" placeholder="Username" autocomplete="off" class="username" required>
        <input type="email" placeholder="Email" autocomplete="off" class="email" required>
        <input type="password" placeholder="Password" autocomplete="off" class="password" required>
        </div>
        <button class="submit-btn">Register</button>
    </div>
</div>
<!--Add Script-->
<script src="./js/login.js"></script>