<!DOCTYPE html>
<html>
<head>
  <title>Payments Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
  <div>
    <canvas id="paymentsChart" width="500" height="300"></canvas>
    <script type="text/javascript">
      let ctx = document.getElementById("paymentsChart").getContext("2d");
      let paymentsData = {{{chartData}}};
      let months = Object.keys(paymentsData);
      let amounts = Object.values(paymentsData);
      let chart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: months,
          datasets: [{
            label: "Payments by Month",
            data: amounts,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderColor: "rgba(75, 192, 192, 1)",
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    </script>

    
  </div>  
</body>
</html>

