<div>
    <!--Login-->
    <div class="login-form" id="login-form">
        <h1 class="heading">Login</h1>
        <div class="form-input">
        <input type="email" placeholder="Email" autocomplete="off" class="email-login" id="email-login" required>
        <input type="password" placeholder="Password" autocomplete="off" class="password-login" id="password-login" required>
        </div>
        <button class="submit-btn" id="login" type="submit">Log In</button>
    </div>

</div>
<!--Add Script-->
<script src="../js/login.js"></script>
