<div>
    <!--Login-->
    <div class="form" id="login-form">
        <h1 class="heading">Login</h1>
        <div class="form-input">
        <input type="email" placeholder="Email" autocomplete="off" class="email" id="email-login" required>
        <input type="password" placeholder="Password" autocomplete="off" class="password" id="password-login" required>
        </div>
        <button class="submit-btn" id="login">Log In</button>
    </div>

    <!--Sign Up-->
    <div class="form" id="register-form">
        <h1 class="heading">Register</h1>
        <div class="form-input">
        <input type="text" placeholder="Username" autocomplete="off" class="username" id="name-signup" required>
        <input type="email" placeholder="Email" autocomplete="off" class="email" id="email-signup" required>
        <input type="password" placeholder="Password" autocomplete="off" class="password" id="password-signup" required>
        </div>
        <button class="submit-btn" id="register" href="/register">Register</button>
    </div>
</div>
<!--Add Script-->
<script src="./js/login.js"></script>