<div class="alert-box">
    <p class="alert"></p>
</div>

<!--New User (Register) Layout-->
<div class="form">
    <h1 class="heading">Register</h1>
    <input type="text" placeholder="Username" autocomplete="off" class="username" required>
    <input type="email" placeholder="Email" autocomplete="off" class="email" required>
    <input type="password" placeholder="Password" autocomplete="off" class="password" required>
    <a class="submit-btn" href="./homepage.hbs">
         <button class="submit-btn">Register</button>
    </a>
    <!--If user already has an account-->
    <a href="./register.hbs" class="link"> Already a member? Log In</a>
</div>

<!--Add the Script-->
<script src="../js/form.js"></script>