<div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/>
<div style="width: 800px;"><canvas id="acquisitions"></canvas></div>






<!--Nav-Bar-->
<div>
    <div id="title-container">
        <nav class="navbar navbar-expand-lg" id="navbar">
            <!--Title-->
            <div class="container-fluid">
              <a class="navbar-brand" id="BHMM-text" href="#">Better Have My Money</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!--Other Page Links-->
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" aria-current="page" href="./homepage.handlebars">Home</a>
                  <a class="nav-link" href="./expenses.handlebars">Expenses</a>
                  <a class="nav-link" href="./chart.handlebars">Chart</a>
                  <a class="nav-link" href="./login.handlebars">Log Out</a>
                </div>
              </div>
            </div>
          </nav>  
    </div>
