<div class="alert-box">
    <p class="alert">Sorry!</p>
</div>

<!--Login Layout-->
 <div class="form">
    <h1 class="heading">login</h1>
    <input type="email" placeholder="Email" autocomplete="off" class="email" required>
    <input type="password" placeholder="Password" autocomplete="off" class="password" required>
    <button class="submit-btn">Log In</button>
    
    <!--If user does not have an account-->
    <a href="register.html" class="link">Not a member? Register here</a>
</div>

<!--Add the Script-->
<script src=""></script>

 