:root {
    --cream: rgba(224, 220, 219, 1);
    --tan: rgba(215, 188, 193, 1);
    --ltblue: rgb(168, 189, 210, 1);
    --blue: rgb(11, 75, 139, 1);
    --dkpink: rgba(187, 118, 136, 1);
    --ltpink: rgba(221, 168, 178, 1);
    --ltbrown: rgba(137, 95, 73, 1);
    --brown: rgba(54, 30, 20, 1);
    --black: rgba(15, 18, 27, 1);
}

#container {
    height:720px;
    background-color: var(--cream);
}

/* Navbar */
#navbar {
    background-color: var(--ltblue);
    height: 120px;
}

#BHMM-text{
    color:var(--black);
    font-size: 40px;
    font-weight: bolder;
}

.navbar-brand {
    margin-left: 15px;
    margin-right: 30px;
}

.nav-link {
    color: var(--dkblue);
    font-size: 25px;
    margin-left: 20px;
}

/* New Expense Button */
#new {
    background-color: var(--cream);
    text-align: right;
}

#new-btn {
    margin-top: 30px;
    margin-right: 30px;
    font-weight: bold;
    background-color: var(--dkpink);
}


/* Expenses Card */
.card {
    display:flex;
    flex-direction:row;
    justify-content: left;
    text-align:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    height: 250px;

}

.monthly-expense {
    font-size: 35px;
    font-weight: bold;
    color: var(--pink);
    background-color: var(--ltpink);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* Payment Due*/
.payment-due {
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    color: var(--dkblue);
    text-align: center;
    margin-bottom: 20px;
}
.due-text {
    font-weight: bold;
    margin-right:10px;
}

.payment-amount {
    font-size: 25px;
    color: var(--dkblue);
    text-align: center;
    margin-bottom: 10px;
}

/* Amount Due */
.payment-amount {
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
}
.amountdue-text {
    font-weight: bold;
    margin-right:10px;
}

.amount {
    color: var(--black);
    text-align: center;
    margin-bottom: 10px;   
}

/* Paid Button */
#paid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 110px;
    font-weight: bold;
    background-color: var(--dkpink);
}