*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Navbar */
.navbar {
    background-color: var(--ltblue);
    height: 120px;
}
#navbar {
    background-color: var(--ltblue);
    height: 120px;
}
.nav-link {
    color: var(--dkblue);
    font-size: 25px;
    margin-left: 20px;
}
.submit-btn {
    margin-top: 20px;
}

a{
    color:var(--black);
    font-size: 40px;
    font-weight: bolder;
}

.navbar-brand {
    margin-left: 15px;
    margin-right: 30px;
}


body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/login.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logout{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: none;
}

.login{
    position: absolute;
    top: 10px;
    right: 80px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: none;
}

.welcome-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: white;
    font-weight: 800;
    text-transform: capitalize; 
}


/* Sign-up Content*/
#container {
    display:flex;
    justify-content: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 500px;
    margin-top: 85px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    background-color: var(--teal);
    border-radius: 20px 20px 20px 20px;
} 

#sign-up {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--ltpink);
    margin-bottom: 30px;
}

.form {
    display:inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    width: 350px;
    font-size: 18px;
    color: var(--ltpink);
}

.form-input {
    display: flex;
    flex-direction: column;
}
.register-form {
    margin-top: 100px;
}

.username {
    margin-bottom: 15px;
}

.email {
    margin-right: 10px;
    margin-bottom: 15px;
}

